@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");


.homeb, .favb, .chartb{
  background-color: cadetblue;
  font-family: 'Antic Slab', serif;
  font-size: 20px;
  width: 180px;
  border-radius: 0px;

}


.footer{
  font-size: 35px;
}

