@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

.signIn{
padding-top: 50px;
font-family: 'Antic Slab', serif;
color: white;
}



.inputs{
  font-family: 'Antic Slab', serif;

}

input{
  background-color: tan;
  height: 20px;
  margin-bottom: 5px;
  width: 90px;
}

.loginForm{
  background: url("https://i.pinimg.com/originals/84/fb/da/84fbdac0f75c9293a5b1cf58361d88f6.jpg") no-repeat center center fixed;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

.logging{
  margin-top: -900px;
  background-color: #F7E2CD;
  margin-bottom: 30px;
}

.registerLink{
  font-size: 25px;
  background-color: rgb(241, 213, 241)}