@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #D49985;
  

}
.icon{
  margin-top: 40px;  
}
.mainTitle{
font-size: 40px;
font-family: 'ZCOOL KuaiLe', cursive;

}

.intro, .userBanner{
  margin-top: 45px;
  margin-left: 100px;
  

}

button{
  margin-left: 15px;
  width: 75px;
  height: 40px;
  margin-top: 30px;
  font-weight: 3px;
  font-size: 15px;
  border-color: black;
  border-radius: 12px;
  /* border-radius: 5px; */
}

.logout:hover {
  background-color: #874647; 
  color: white;
}

.span{
  color: rgb(69, 22, 224);
}

